image: atlassian/default-image:3

pipelines:
  default:
    - step:
        name: Deploy using SSH key
        script:
          - echo "Starting deployment"
          - ssh -o StrictHostKeyChecking=no ubuntu@16.145.52.230 "rm -rf /var/www/demo/*"
          - scp -o StrictHostKeyChecking=no index.html ubuntu@16.145.52.230:/var/www/demo/
          - echo "Deployment complete"
